{{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.birthDate) }}
    {{ form_row(form.birthDate) }}
    {{ form_row(form.hireDate) }}
    {{ form_row(form.gender) }}

    {{ form_label(form.departments) }}
    {{ form_errors(form.departments) }}

    <ul>
      {% for department in form.departments %}
        <li>
          {{ form_errors(department) }}
          {{ form_widget(department) }}
        </li>
      {% endfor %}
    </ul>

    {{ form_label(form.departmentsManagers) }}
    {{ form_errors(form.departmentsManagers) }}

    <ul>
      {% for department in form.departmentsManagers %}
        <li>
          {{ form_errors(department) }}
          {{ form_widget(department) }}
        </li>
      {% endfor %}
    </ul>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
