{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
    <h1>Employee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>EmpNo</th>
                <td>{{ employee.empNo }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ employee.birthDate ? employee.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ employee.gender }}</td>
            </tr>
            <tr>
                <th>HireDate</th>
                <td>{{ employee.hireDate ? employee.hireDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('employee_index') }}">back to list</a>

    <a href="{{ path('employee_edit', {'empNo': employee.empNo}) }}">edit</a>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
